* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    color:aliceblue;
    background-image: url("image.png");
    background-size: cover;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #041a63;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    z-index: 100;
    border-right: 1px solid #0c2680;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 11px 12px;
    font-size: 14.5px;
    color: #aab0d9;
    text-decoration: none;
}
.sidebar-link:hover {
  background-color: #0c2680;
  color: #f4f5fb;
}
.icon {
  font-size: 17px;
  width: 20px;
  text-align: center;
}
.logo {
    text-align: center;
    margin-bottom: 40px;
    font: "Segoe UI", Roboto, Arial, sans-serif;
}

.logo h2 {
    font-size: 27px;
    letter-spacing: 1px;
    font: "Segoe UI", Roboto, Arial, sans-serif;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 15px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 17px;
    width: 20px;
    text-align: center;
}

.nav-item span {
    width: 25px;
    text-align: center;
    font-size: 19px;
}

.nav-item p {
    font-size: 15px;
}

.nav-item:hover,
.nav-item.active {
    background-color: #5245C3;
}

.main-content {
    margin-left: 230px;
    padding: 40px;
}

.page-header {
    margin-bottom: 30px;
}

.small-heading {
    color:aliceblue;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.page-header h1 {
    font-size: 34px;
    margin-bottom: 7px;
}

/* TIMER */

.timer-card {
    background-color: #0c2680;
    border-radius: 22px;
    padding: 60px 30px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 18, 79, 0.07);
}

.timer-display {
    font-size: 90px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

/* INPUT */

.duration-input {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    gap: 8px;
    text-align: left;
}

.duration-input label {
    font-size: 14px;
}

.duration-input input {
    padding: 12px;
    border: 1px solid #041a63;
    border-radius: 8px;
}

/* BUTTONS */

.timer-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px 0;
}

.timer-buttons button {
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

#startTimer {
    background-color: #5245C3;
    color: white;
}

#pauseTimer {
    background-color: #6958D8;
    color: white;
}

#stopTimer,
#resetTimer {
    background-color: #eee;
    color: #00124F;
}

#timerMessage {
    color:aliceblue;
}


/* RESPONSIVE */

@media (max-width: 800px) {

    .sidebar {
        width: 80px;
        align-items: center;
    }
    .sidebar-link {
        font-size: 0;
    }
    .logo h2 {
        font-size: 15px;
    }
    .nav-item p {
        display: none;
    }
    .nav-item {
        justify-content: center;
    }
    .main-content {
        margin-left: 80px;
        padding: 20px;
    }
}

@media (max-width: 550px) {
    .timer-display {
        font-size: 55px;
    }
    .timer-buttons {
        flex-wrap: wrap;
    }
}