* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    color:aliceblue;
    background-image: url("image.png");
    background-size: cover;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #041a63;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    z-index: 100;
    border-right: 1px solid #0c2680;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 11px 12px;
    font-size: 14.5px;
    color: #aab0d9;
    text-decoration: none;
}
.sidebar-link:hover {
  background-color: #0c2680;
  color: #f4f5fb;
}
.icon {
  font-size: 17px;
  width: 20px;
  text-align: center;
}
.logo {
    text-align: center;
    margin-bottom: 40px;
    font: "Segoe UI", Roboto, Arial, sans-serif;
}

.logo h2 {
    font-size: 27px;
    letter-spacing: 1px;
    font: "Segoe UI", Roboto, Arial, sans-serif;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 15px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 17px;
    width: 20px;
    text-align: center;
}

.nav-item span {
    width: 25px;
    text-align: center;
    font-size: 19px;
}

.nav-item p {
    font-size: 15px;
}

.nav-item:hover,
.nav-item.active {
    background-color: #5245C3;
}

.main-content {
    margin-left: 230px;
    padding: 40px;
}

.page-header {
    margin-bottom: 30px;
}

.small-heading {
    color:aliceblue;
    font: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.page-header h1 {
    font-size: 34px;
    margin-bottom: 7px;
}


/* MAIN WATER */

.water-main-card {
    background-color:#0c2680;
    border-radius: 20px;
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(0, 18, 79, 0.07);
}

.water-info h2 {
    font-size: 45px;
    margin: 15px 0;
}

.water-progress {
    height: 15px;
    background-color: #0c2680;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0 8px;
}

.water-progress div {
    height: 100%;
    width: 0%;
    background-color: #5245C3;
}

#waterPercentage {
    color: #5245C3;
    font-weight: bold;
}

/* BUTTONS */

.water-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.water-actions h3 {
    margin-bottom: 15px;
}

.water-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.water-buttons button,
.goal-input button {
    border: none;
    background-color: #5245C3;
    color: white;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
}

/* GOAL */
.goal-card,
.history-card {
    background-color: #0c2680;
    border-radius: 18px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(0, 18, 79, 0.07);
}

.goal-card p {
    color: #777;
    margin: 7px 0 15px;
}

.goal-input {
    display: flex;
    gap: 10px;
}

.goal-input input {
    flex: 1;
    padding: 12px;
    border: 1px solid #041a63;
    border-radius: 8px;
}


/* HISTORY */

.water-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.simple-chart {
    min-height: 160px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 20px;
    border-bottom: 2px solid #041a63;
}

.chart-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 140px;
}

.chart-bar {
    width: 100%;
    background-color: #6958D8;
    border-radius: 5px 5px 0 0;
    min-height: 5px;
}

.chart-column p {
    font-size: 10px;
    margin-top: 5px;
}


/* RESPONSIVE */

@media (max-width: 800px) {

    .sidebar {
        width: 80px;
        align-items: center;
    }
    .sidebar-link {
        font-size: 0;
    }
    .logo h2 {
        font-size: 15px;
    }
    .nav-item p {
        display: none;
    }
    .nav-item {
        justify-content: center;
    }
    .main-content {
        margin-left: 80px;
        padding: 20px;
    }
    .water-main-card,
    .water-history {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .water-buttons {
        grid-template-columns: 1fr;
    }
}